@page "/cadastro"

@inject UsuarioApiServico UsuarioApiServico
@inject NavigationManager NavigationManager

<div class="container mt-3">
    <h3>Faça seu cadastro:</h3>

    <hr />

    @if (!string.IsNullOrEmpty(msgErro))
    {
        <div class="alert alert-danger" role="alert">
            @msgErro
        </div>
    }


    <div class="col col-md-4">
        <EditForm Model="model" OnValidSubmit="EnviaCadastro">
            <DataAnnotationsValidator />
            <ValidationSummary Model="model" />

            <MudTextField class="form-control" Label="Nome" For="() => model.Nome" @bind-Value="model.Nome" placeholder="" />
            <MudTextField class="form-control" Label="Email" For="() => model.Email" @bind-Value="model.Email" placeholder="email@email.com" />
            <MudTextField class="form-control" Label="CPF" For="() => model.CPF" @bind-Value="model.CPF" placeholder="000.000.000-00" />
            <MudTextField class="form-control" Label="Senha" @bind-Value="model.Senha" InputType="InputType.Password" For="() => model.Senha" placeholder="*********" />

            <div class="mt-3">
                @if (!enviando)
                {
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">
                        Cadastrar-se
                    </MudButton>
                }
                else
                {
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
            </div>
        </EditForm>
    </div>
</div>

@code {
    private string msgErro = "";
    private bool enviando = false;

    private NovoUsuarioDTO model = new NovoUsuarioDTO();

    private async void EnviaCadastro()
    {
        enviando = true;

        try
        {
            await UsuarioApiServico.Cadastro(model);
            NavigationManager.NavigateTo("/");
        }
        catch (ServicoException ex)
        {
            msgErro = ex.Data.msg;
        }
        finally
        {
            enviando = false;
            StateHasChanged();
        }
    }
}
