@page "/"

@inject UsuarioApiServico UsuarioApiService
@inject NavigationManager NavigationManager
@inject LocalStorageServico LocalStorage

<div class="container mt-3">
    <h3>Faça login para continuar:</h3>

    <hr />

    @if (!string.IsNullOrEmpty(msgErro))
    {
        <div class="alert alert-danger" role="alert">
            @msgErro
        </div>
    }

    <div class="col col-md-4">
        <EditForm Model="model" OnValidSubmit="EnviaLogin">
            <DataAnnotationsValidator />
            <ValidationSummary Model="model" />

            <MudTextField class="form-control" Label="Email" For="() => model.Email" @bind-Value="model.Email" placeholder="email@email.com" />
            <MudTextField class="form-control" Label="Senha" InputType="InputType.Password" For="() => model.Senha" @bind-Value="model.Senha" placeholder="*********" />

            <div class="mt-3">
                @if (!enviando)
                {
                    <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary">
                        Entrar
                    </MudButton>
                }
                else
                {
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
            </div>
        </EditForm>
    </div>
</div>

@code {
    private bool enviando = false;
    private string msgErro = "";

    private LoginDTO model = new LoginDTO();

    private async void EnviaLogin()
    {
        enviando = true;

        try
        {
            var login = await UsuarioApiService.Login(model);
            string token = login.token;

            await LocalStorage.SalvarItem("token", token);
            NavigationManager.NavigateTo("/home", true);
        }
        catch (ServicoException ex)
        {
            msgErro = ex.Data?.msg;
        }
        finally
        {
            enviando = false;
            StateHasChanged();
        }
    }
}
