@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider

<div class="bb-page">
    <Sidebar @ref="sidebar"
             IconName="IconName.BootstrapFill"
             Title="Blazor Bootstrap"
             DataProvider="SidebarDataProvider" />
    <main>
        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
</div>

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
        {
            var state = await AuthProvider.GetAuthenticationStateAsync();

            if (state.User.Identity.IsAuthenticated)
            {
                navItems = GetNavItemsLogado();
            }
            else
            {
                navItems = GetNavItemsDeslogado();
            }
        }
        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItemsDeslogado()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.Person, Text = "Login", Match=NavLinkMatch.All},
            new NavItem { Id = "2", Href = "/cadastro", IconName = IconName.DoorOpen, Text = "Cadastro"},
        };
        return navItems;
    }

    private IEnumerable<NavItem> GetNavItemsLogado()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/home", IconName = IconName.House, Text = "Home" },
            new NavItem { Id = "1", Href = "/transacoes/receitas", IconName = IconName.CurrencyDollar, Text = "Receitas" },
            new NavItem { Id = "1", Href = "/transacoes/despesas", IconName = IconName.AlarmFill, Text = "Receitas" },
        };
        return navItems;
    }
}
