<EditForm Model="Model" OnValidSubmit="EnviaMovimentacao">
    <div class="form-group">
        <label>Valor (R$)</label>
        <InputNumber class="form-control" @bind-Value="Model.Valor" />
    </div>
    <div class="form-group">
        <label>Descrição</label>
        <InputText class="form-control" @bind-Value="Model.Descricao" />
    </div>
    <div class="form-group">
        <label>Data</label>
        <InputDate class="form-control" @bind-Value="Model.DataEntrada" />
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <select class="form-control"
        @onchange="(e) => Model.CategoriaReceita = Enum.Parse<CategoriaReceitaEnum>(e.Value.ToString())">
            @foreach (var categoria in Enum.GetValues<CategoriaReceitaEnum>())
            {
                <option value="@categoria">
                    @categoria.GetDisplayName()
                </option>
            }
        </select>
    </div>
    <div class="form-group mt-3">
        @if (!EnviandoForm)
        {
            <button class="btn btn-success">
                Cadastrar
            </button>
        }
        else
        {
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
    </div>
</EditForm>

@code {
    [Parameter]
    public bool EnviandoForm { get; set; }

    [Parameter]
    public NovaMovimentacaoDTO Model { get; set; }

    [Parameter]
    public Func<Task> EnviaMovimentacao { get; set; }
}